* {
  box-sizing: border-box;
}

body {
  background-color: gray;
}

/*====================GRID DESIGNATION========================*/

main {
  display: grid;
  grid-template-columns: 13rem 1fr;
}

aside {
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}

.main-content-container {

}

/*=======================ASIDE SECTION========================*/

.aside-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-bottom: 2px solid black;
}

.aside-pic {
  width: 85px;
  border-radius: 70%;
}

.aside-nav {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  list-style-type: none;
  /*margin-top: rem;*/
  padding-left: 1rem;
}

.aside-main {
  flex-direction: space-evenly;

}

.aside-admin {

}

.aside-categories {

}

/*=================TOP NAVIGATION========================*/

.top-navigation {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem 5rem 5rem;
}

/*=======================PROFILE SECTION====================*/

.profile-container {
  /*border: 2px solid black;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-information {
  margin-left: 3rem;
}

.profile-btns {
  margin-right: 2rem;
}

h1 {
  font-size: 2em;
  margin: 2rem 0 0 0;
}

.location-link {
  display: inline-block;
  line-height: 2em;
  margin: 0 0 2rem 0;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  font-size: .85em;
  margin: 1rem 10rem 1rem 8px;
  padding: 0 0 0 0;
  list-style-type: none;
}

.text-margin {
  margin-left: 10px;
}

/*========================GRAPH SECTION============================*/

.graph-container {
  display: grid;
  grid-template-columns: 40rem 1fr; 
}
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

/*@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}*/

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.interviews {
  font-size: .25em;
}

.circle-graph {
  display: flex;
  flex-flow: row nowrap; 
}

/*.c-graph-all {
  width: 175px;
  margin-left: 2rem;
}*/

.c-graph1 {

}

.c-graph2 {
  
}
.c-graph3 {
  
}

.bar-graph-section {
  display: flex;
  flex-direction: column;
 /* background-image: url('https://files.slack.com/files-pri/T029P2S9M-FBW5RMS10/image.png')
  background-size: cover;*/
}

.bar-graph {
  width: 30rem;
  margin-left: 3rem;
}

.bar-graph-img {
  width: 84%;
}


.hr-right {
  font-color: black;
  /*margin: 2rem 3rem 2rem 3rem;*/
}

.hr-left {

}

/*=====================INFORMATION SECTION=========================*/

.information-container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 25rem;
}

.job-description {
  border: 2px solid black;
  margin: 0 3rem 0 3rem;
}

.job-description-header {
  border: 2px solid black;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  padding: 0;
}

.table-cell {
  flex-grow: 1;
  font-size: 1em;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: 
  background:
}

.column-left {
  width: 35%;
}

.column-right {
  overflow: hidden;
  width: 65%;
}

.social-media {
  border: 2px solid black;
  margin-right: 3rem;
}

/*=========================MEDIA QUERIES==========================*/

@media (max-width: 1064px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    }
  
  aside {
    display: none;
    }
}

@media (max-width: 875px) {
  .menu-container {
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    font-size: .85em;
    margin: 2rem 2rem 2rem 2px;
    padding: 0 1em 0 1em;
    list-style-type: none;
  }
  
  .text-margin {
    margin: 0;
  }

  .menu-text {
    margin-top: 2px;

  }
}

  .information-container {
    grid-template-columns: 27rem 1fr;
    }
  
  .job-description {
    margin: 0 2rem 0 2rem;
  }

  .social-media {
    margin-right: 2rem;
  } 
}


@media (max-width: 777px) {
  .information-container {
    grid-template-columns: 1fr;
    }
  .social-media {
    margin: 0 2rem 0 2rem;
  }
}

@media (max-width: 666px) {
  .information-container {
    display: flex;
    flex-direction: column;
    /*grid-template-columns: 1fr;*/
    }

    .table {
      display: flex;
      justify-content: space-evenly;
    }

    .table-cell {
      /*flex-grow: 1;*/
      font-size: 1em;
      /*padding: 0.8em 1.2em;*/
      overflow: hidden;
      list-style: none;
      border: 
      background:
}

    .resp-column {
      width: 20rem;

    }
}

