* {
  box-sizing: border-box;
}

body {
  background-color: gray;
}

main {
  display: grid;
  grid-template-columns: 13rem 1fr;
}

aside {
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}

.main-content-container {

}

.aside-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  border-bottom: 2px solid black;
}

.aside-pic {
  width: 80px;
  border-radius: 70%;
}

.aside-nav {
  height: 20rem;
  display: flex;
  flex-direction: column;
  flex-direction: space-evenly;
  border-bottom: 2px solid black;
  list-style-type: none;
  margin-top: 2rem;
  padding-left: 1rem;
}

.aside-main {

}

.aside-admin {

}

.aside-categories {

}

.top-navigation {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem 5rem 5rem;
}

.profile-container {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1

.location-link {
  display: inline-block;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.graph-container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 40rem 1fr; 
}

.circle-graph {
  border: 2px solid black;
}

.bar-graph-section {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
 /* background-image: url('https://files.slack.com/files-pri/T029P2S9M-FBW5RMS10/image.png')
  background-size: cover;*/
}

.bar-graph {
  width: 30rem;
}

.bar-graph-img {
  width: 80%;
}

.information-container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 30rem;
}

.job-description {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 0 3rem 0 3rem;
}

.table-spacing,p {
  display: inline-block;
  margin: 1rem 2rem 1rem 2rem;
}

.social-media {
  border: 2px solid black;
}

@media (max-width: 1000px) {
  main {
  display: grid;
  grid-template-columns: 1fr;
  }
  aside {
    display: none;
  }
}
  
 /* .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 15px;
  } */
