* {
  box-sizing: border-box;
}

body {
  background-color: gray;
}

/*====================GRID DESIGNATION========================*/

main {
  display: grid;
  grid-template-columns: 13rem 1fr;
}

aside {
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}

.main-content-container {

}

/*=======================ASIDE SECTION========================*/

.aside-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-bottom: 2px solid black;
}

.aside-pic {
  width: 85px;
  border-radius: 70%;
}

.aside-nav {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  list-style-type: none;
  /*margin-top: rem;*/
  padding-left: 1rem;
}

.aside-main {
  flex-direction: space-evenly;

}

.aside-admin {

}

.aside-categories {

}

/*=================TOP NAVIGATION========================*/

.top-navigation {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem 5rem 5rem;
}

/*=======================PROFILE SECTION====================*/

.profile-container {
  /*border: 2px solid black;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-information {
  margin-left: 3rem;
}

.profile-btns {
  margin-right: 2rem;
}

h1 {
  font-size: 2em;
  margin: 2rem 0 0 0;
}

.location-link {
  display: inline-block;
  line-height: 2em;
  margin: 0 0 2rem 0;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  font-size: .75em;
  margin: 1rem 10rem 1rem 8px;
  padding: 0 0 0 0;
  list-style-type: none;
}

.text-margin {
  margin-left: 10px;
}

/*========================GRAPH SECTION============================*/

.graph-container {
  display: grid;
  grid-template-columns: 40rem 1fr; 
}

.circle-graph {
  display: flex;
  flex-direction: column;
}

.bar-graph-section {
  display: flex;
  flex-direction: column;
 /* background-image: url('https://files.slack.com/files-pri/T029P2S9M-FBW5RMS10/image.png')
  background-size: cover;*/
}

.bar-graph {
  width: 30rem;
  margin-left: 3rem;
}

.bar-graph-img {
  width: 84%;
}

.circle-graph {

}

.c-graph-all {
  width: 50px;

}

.hr-right {
  font-color: black;
  /*margin: 2rem 3rem 2rem 3rem;*/
}

.hr-left {

}

/*=====================INFORMATION SECTION=========================*/

.information-container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 30rem;
}

.job-description {
  border: 2px solid black;
  margin: 0 3rem 0 3rem;
}

.job-description-header {
  border: 2px solid black;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  padding: 0;
}

.table-cell {
  flex-grow: 1;
  font-size: 1em;
  padding: 0.8em 1.2em;
  /*overflow: hidden;*/
  list-style: none;
  border: 
  background:
}

.column-left {
  width: 35%;
}

.column-right {
  overflow: hidden;
  width: 65%;
}

.social-media {
  border: 2px solid black;
}

/*=========================MEDIA QUERIES==========================*/

@media (max-width: 1000px) {
  main {
  display: grid;
  grid-template-columns: 1fr;
  }
  aside {
    display: none;
  }
}

